// fichero _reset.scss
html,
body,
p,
ul,
ol {
   margin:  0;
   padding: 0;
   list-style: none;
}

a{          
    text-decoration:none;
    color: cadetblue;
    &:hover{
        text-decoration:underline;      //QUITAR (solo está de prueba jeje)
    }
}