html,
body,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: cadetblue;
}

a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=reset.css.map */