@charset "UTF-8";
html,
body,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: cadetblue;
}

a:hover {
  text-decoration: underline;
}

/*cross browsing prueba mixin*/
.centered-parent {
  max-width: 910px;
  margin: 0 auto;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-item__image {
  margin: 40px 80px;
}

.flex-item__list {
  margin-left: 60px;
}

.flex-item__signin-button {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.flex-item__signin-checkbox {
  margin-left: 30px;
}

.form-body {
  max-width: 465px;
}

.mailchimp-img {
  width: 200px;
  height: 200px;
  background-image: url(./../images/mailchimp.jpg);
  background-size: 320%;
  background-position: -2% 50%;
}

.form-input {
  line-height: 2em;
}

.form-input:valid {
  background-color: rgba(144, 238, 144, 0.2);
}

.form-input:invalid {
  background-color: rgba(255, 0, 0, 0.2);
}

.margin-top__form {
  margin-top: 30px;
}

.margin-top__disclaimer {
  margin-top: 40px;
}

.margin-top__terms {
  margin-top: 50px;
}

.block-element {
  display: block;
}

.block-element__label-form {
  margin: 10px 0 5px 0;
  font-weight: bold;
}

.button-submit {
  padding: 15px 40px;
  background-color: whitesmoke;
  font-weight: bold;
  opacity: 0.6;
  cursor: not-allowed;
}

.password-conditions {
  margin: 25px 0;
}

#circle {
  width: 7px;
  height: 7px;
  background: cadetblue;
  border-radius: 50%;
  display: inline-block;
}

.list__items::before {
  content: "•";
  font-size: 1.5rem;
  color: cadetblue;
  margin-right: 5px;
}
/*# sourceMappingURL=styles.css.map */