@import './reset';

/*cross browsing prueba mixin*/
@mixin linear-gradient {                    
    background-image: -moz-linear-gradient(top, #D7D 0%, #068 100%); 
    background-image: -o-linear-gradient(top, #D7D 0%, #068 100%);  
    background-image: -webkit-linear-gradient(top, #D7D 0%, #068 100%);  
    background-image: linear-gradient(top, #D7D 0%, #068 100%);
}



.centered-parent{
  max-width: 910px;
  margin: 0 auto;
}

.flex-row{
  display: flex;
}

.flex-item{
  &__image{
    margin: 40px 80px;
  }
  &__list{
    margin-left: 60px;
  }
  &__signin-button{
    flex: 1 0 auto;
  }
  &__signin-checkbox{
    margin-left: 30px;
  }
}

.form-body{
  max-width: 465px;
}

.mailchimp-img{
  width: 200px;         //no se puede poner max-width porque no reserva el espacio :S ¿responsividad?
  height: 200px;
  background-image: url(./../images/mailchimp.jpg);
  background-size: 320%;                //la imagen es grande a propósito para aprender a cortarla ^^
  background-position: -2% 50%;  //HACER: al hacer la ventana pequeña se ve distinto
}

.form-input{
  line-height: 2em;
  &:valid{
    background-color: rgba(144, 238, 144, 0.2);
  }
  &:invalid{
    background-color: rgba(255,0,0,0.2);
  }
}

.margin-top{
  &__form{
    margin-top: 30px;
  }
  &__disclaimer{
    margin-top: 40px;
  }
  &__terms{
    margin-top: 50px;
  }
}

.block-element{
  display: block;
  &__label-form{
    margin: 10px 0 5px 0;
    font-weight: bold;
  }
}

.button-submit{
  padding: 15px 40px;
  background-color: whitesmoke;
  font-weight: bold;
  opacity: 0.6;
  cursor: not-allowed;
}

.password-conditions{ //¿nombrar __password-conditions (no es un bloque sino un elemento)?
  margin:25px 0;
}

#circle {
  width: 7px;
  height: 7px;
  background: cadetblue;
  border-radius: 50%;
  display: inline-block;
}

.list__items::before{ //ñapa ;)
  content: "•";
  font-size: 1.5rem;
  color: cadetblue;
  margin-right: 5px;
}




  
